[submodule "holbertonschool-monty"]
	path = holbertonschool-monty
	url = https://github.com/FatjonMileti/holbertonschool-monty
[submodule "holbertonschool-printf"]
	path = holbertonschool-printf
	url = https://github.com/FatjonMileti/holbertonschool-printf
[submodule "holbertonschool-simple_shell"]
	path = holbertonschool-simple_shell
	url = https://github.com/tizihoxha/holbertonschool-simple_shell
